* {
    box-sizing: border-box;
  }

  .row{
    padding-top: 10px;
  }  
  /* Create three equal columns that floats next to each other */
  .column {
    float: left;
    width: 33.33%;
    padding: 10px;
    height: 300px; /* Should be removed. Only for demonstration */
  }
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }

  .h3{
    padding-top:10px;
  }

  .container .p{
    font-size: 1.2em;
    line-height: 1.8em;
    font-weight: 300;
    color: black;
    margin: 30px 0;
  }  
  
  .container .nav-link{
    margin-left: 20px;
    color: black !important;
  }